@page
@model ProjetFinal_MAUREL_CHEVILLARD.Pages.FreelancePages.DureeModel
@{
    ViewData["Title"] = "Durée de votre mission";
}
@{var dateKnown = true;}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div id="choice">
                <label><input type="radio" name="dateKnown" value="known" />Je connais la durée</label>
                <label><input type="radio" name="dateKnown" value="unknown" />Je ne connais pas la durée</label>
            </div>

            <div id="known" class="desc">
                <div class="form-group">
                    <label asp-for="Freelance.MonthDuration" class="control-label"></label>
                    <input asp-for="Freelance.MonthDuration" class="form-control" />
                    <span asp-validation-for="Freelance.MonthDuration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Freelance.DayByMonthDuration" class="control-label"></label>
                    <input asp-for="Freelance.DayByMonthDuration" class="form-control" />
                    <span asp-validation-for="Freelance.DayByMonthDuration" class="text-danger"></span>
                </div>
            </div>
            <div id="unknown" class="desc">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Freelance.LessOneMonthDuration" value="true" /> Je ne connais pas la durée
                    </label>
                </div>
            </div>
                
            

            @if (dateKnown)
            {
                //Un truc à faire avec ça
            }


           


            <div class="form-group">
                <input type="submit" value="Page suivante" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retour à la liste</a>
</div>

<script>
    $(document).ready(function () {
        $("div.desc").hide();
        $("input[name$='dateKnown']").click(function () {
            var test = $(this).val();
            $("div.desc").hide();
            $("#" + test).show();
        });
    });

</script>

<style>
    .desc {
        color: #fff;
        padding: 20px;
        display: block;
        margin-top: 20px;
    }

    .red {
        background: #ff0000;
    }

    .green {
        background: #228B22;
    }

    .blue {
        background: #0000ff;
    }
</style>