@page
@model ProjetFinal_MAUREL_CHEVILLARD.Pages.FreelancePages.DureeModel
@{
    ViewData["Title"] = "Durée de votre mission";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <label class="radio">
                    <input type="radio" name="dateKnown" onclick="SetDuration(false)" id="yes" value="yes" checked>
                    Je connais la durée
                </label>
                <label class="radio">
                    <input type="radio" name="dateKnown" onclick="SetDuration(true)" id="no" value="no">
                    Je ne connais pas la durée
                </label>
            </div>

            <div id="known" class="desc">
                <div class="form-group">
                    <label asp-for="Freelance.MonthDuration" class="control-label">Nombre de mois</label>
                    <input id="MonthDurationInput" asp-for="Freelance.MonthDuration" class="form-control" value="0" />
                    <span asp-validation-for="Freelance.MonthDuration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Freelance.DayByMonthDuration" class="control-label">Nombre de jours travaillés/mois</label>
                    <input id="DayByMonthDurationInput" asp-for="Freelance.DayByMonthDuration" class="form-control" value="0" />
                    <span asp-validation-for="Freelance.DayByMonthDuration" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Freelance.LessOneMonthDuration" /> Moins d'un mois
                    </label>
                </div>
            </div>
            <div id="unknown" class="desc">
                La simulation sera réalisée sur la base d'un mois
            </div>
            <div class="form-group">
                <input type="submit" value="Page suivante" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retour à la liste</a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.radio input[type="radio"]').on("click", function () {
            if ($('.radio input[type="radio"]:checked').val() === "yes") {
                $("#known").slideDown("fast");
                $("#unknown").slideUp("fast");
            } else {
                $("#known").slideUp("fast");
                $("#unknown").slideDown("fast");
            }
        });
    });

    function SetDuration(b)
    {
        if (b) {
            document.getElementById("MonthDurationInput").value = "1";
            document.getElementById("DayByMonthDurationInput").value = "20";
        } else {
            document.getElementById("MonthDurationInput").value = "0";
            document.getElementById("DayByMonthDurationInput").value = "0";
        }
    }
</script>

<style>
    #known {
        display: block;
    }

    #unknown {
        display: none;
    }
</style>