@page
@model ProjetFinal_MAUREL_CHEVILLARD.Pages.TarifPrestationModel
@{

    ViewData["Title"] = "Tarif de prestation";
}


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Freelance.DayPrice" class="control-label">Tarif journalier (€/jour)</label>
                <input asp-for="Freelance.DayPrice" class="form-control" value="0"/>
                <span asp-validation-for="Freelance.DayPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Freelance.HourPrice" class="control-label">Tarif horaire (€/jour)</label>
                <input asp-for="Freelance.HourPrice" class="form-control" value="0"/>
                <span asp-validation-for="Freelance.HourPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Freelance.MonthPrice" class="control-label">Tarif mensuel</label>
                <input asp-for="Freelance.MonthPrice" class="form-control" value="0"/>
                <span asp-validation-for="Freelance.MonthPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Freelance.TurnOver" class="control-label">Chiffre d'affaire (€)</label>
                <input asp-for="Freelance.TurnOver" class="form-control" value="0"/>
                <span asp-validation-for="Freelance.TurnOver" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Freelance.NotKnowPrice" />Je ne connais pas mon tarif <!--@Html.DisplayNameFor(model => model.Freelance.NotKnowPrice)-->
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Page suivante" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retour à la liste</a>
</div>

